.cache# User test files
.DS_Store
.history
.idea/**
.pio
.vscode/**
**/.idea/**
**/*.iml
**/*.swn
**/*.swo
**/*.swp
**/custom_*.h
# Recursive IDE and swap junk
build/**
custom_*.ini
include/secrets.h
lib/*
NightDriverStrip.code-workspace
site/dist
site/favicon.ico
site/index.html
site/local/**
site/main.jsx
site/node_modules
site/yarn-error.log
src/-defines-.cpp
src/uzlib/src/*.o
tools/__pycache__
WebInstaller/assets/**
WebInstaller/firmware/**
WebInstaller/index.html
WebInstaller/manifests/**
WebInstaller/web_projects.json
x.cc
xtest.cpp
