.pio
.vscode/**
NightDriverStrip.code-workspace
src/uzlib/src/*.o
src/-defines-.cpp
.history
include/secrets.h
lib/*
.DS_Store
site/node_modules
site/local/**
site/index.html
site/main.jsx
site/favicon.ico
WebInstaller/assets/**
WebInstaller/firmware/**
WebInstaller/manifests/**
WebInstaller/web_projects.json
WebInstaller/index.html
.idea/**
tools/__pycache__
site/yarn-error.log
site/dist
**/custom_*.h
custom_*.ini